# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*
Dockerfile.cross

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# editor and IDE paraphernalia
.idea
.vscode
*.swp
*.swo
*~

# env file
.env

# Kubeconfig might contain secrets
*.kubeconfig
